*
!.gitignore
!README.md
!README.en.md
!COPYRIGHT.md
!SECURITY.md
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!DISCLOSURE.md
!PARTNERSHIPS.md
!REPOSITORY_SETUP.md
!PUBLICATION_CHECKLIST.md
!docs/
!docs/**
!.github/
!.github/**

!assets/
!assets/branding/
!assets/branding/**
